POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=banking

DEBEZIUM_REPLICATION_USER=your_debezium_replication_user
DEBEZIUM_REPLICATION_PASSWORD=your_debezium_replication_password

EXTERNAL_POSTGRES_HOST=host.docker.internal
EXTERNAL_POSTGRES_PORT=5432
EXTERNAL_POSTGRES_DB=your_external_postgres_db
EXTERNAL_POSTGRES_USER=your_external_postgres_user
EXTERNAL_POSTGRES_PASSWORD=your_external_postgres_password
EXTERNAL_POSTGRES_CONTAINER=your_external_postgres_container
EXTERNAL_POSTGRES_PSQL_USER=your_external_postgres_psql_user

EXASOL_DSN=your_exasol_dsn
CONTAINER_EXASOL_DSN=host.docker.internal:8563
EXASOL_USER=your_exasol_user
EXASOL_PASSWORD=your_exasol_password
